{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ object|yesno:'Edit,Add New' }} Receipt{% endblock %}

{% block content %}
    {# https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#yesno #}
    <h1>{{ object|yesno:'Edit,Add New' }} Receipt</h1>
    <section class="common-form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <p>
                <label for="id_sum_total">Sum total:</label>
                <input type="number" name="sum_total" value={{ receipt.sum_total }} required id="id_sum_total">
            </p>
            {{ form.as_p }}
            <button type="submit" class="submit">{{ object|yesno:'Update,Save' }}</button>
        </form>
    </section>
{% endblock %}

{#{% block js %}#}
{#    <script type="text/javascript" src="{% static 'js/receipt_form.js' %}"></script>#}
{#{% endblock %}#}