{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <script src="https://cdn.jsdelivr.net/npm/vue"></script>#}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{% if request.path != '/' %}{% block title %}{% endblock %} | {% endif %}Receipt Analyze App</title>
</head>
<body>
<div class="container">
    <header>
        <p class="site-name"><a href="{% url 'receipts:index2' %}">Recipt App</a></p>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="logout">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:signup' %}" class="signup">Sign up</a></li>
                    <li><a href="{% url 'login' %}" class="login">Login</a></li>
                {% endif %}
                <li><a href="{% url 'receipts:create2' %}" class="act">Add Receipt</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
{% block js %}
{% endblock %}
</html>